<div class="header" id="myHeader">
  <div class="headerContent">
    <img class="image" src="assets/img/kokologo.png" height="100px" width="325px" style="padding-left: 20px; padding-top: 10px" alt="kuva on rikki"/>
  </div>

  <div class="headerContent">
    <h2>Lappeenrannan Padel Kenttä</h2>
  </div>

  <div class="headerSocial">
    <a href="https://www.facebook.com/moveolappeenranta/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/moveolpr/?hl=en" class="fa fa-instagram"></a>
  </div>

  <div>
    <h1 class="socialMediaText" style="color:#fdc100; font-size: 90px">SEURAA MEITÄ</h1>
  </div>
</div>

<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      document.getElementById("socialMediaText").style.fontSize = "30px";
      document.getElementById("kokologo.png").style.height = "50px";
      document.getElementById("kokologo.png").style.width = "190px";
    } else {
      document.getElementById("socialMediaText").style.fontSize = "90px";
      document.getElementById("kokologo.png").style.height = "100px";
      document.getElementById("kokologo.png").style.width = "325px";
    }
  }
</script>
