<!doctype html>
<div class="header" id="myHeader">

  <!--Moveo logo-->
  <div class="headerContent">
    <img class="image" src="assets/img/kokologo.png"  alt="kuva on rikki"/>
  </div>

  <!--Language buttons-->
  <button mat-raised-button class="engButton" (click)="changeLanguageENG()"></button>
  <button mat-raised-button class="finButton" (click)="changeLanguageFIN()"></button>

  <!--Different content for @media devices-->
  <div class="fullText">
    <div class="headerSocial">
      <a href="https://www.facebook.com/moveolappeenranta/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/moveolpr/?hl=en" class="fa fa-instagram"></a>
    </div>
    <div>
      <h1 class="socialMediaText" id="socialMediaText">Seuraa meitä</h1>
    </div>
    <h2 class="title" id="title">Skinnarilan Padelkenttä</h2>
  </div>

  <div class="mediumText">
    <div class="headerSocial">
      <a href="https://www.facebook.com/moveolappeenranta/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/moveolpr/?hl=en" class="fa fa-instagram"></a>
    </div>
    <h1 class="socialMediaText" id="mediumSocialMediaText">Seuraa meitä</h1>
  </div>

  <div class="shortText">
    <h1 class="socialMediaText" id="smallSocialMediaText">Seuraa meitä</h1>
    <div class="headerSocial">
      <a href="https://www.facebook.com/moveolappeenranta/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/moveolpr/?hl=en" class="fa fa-instagram"></a>
    </div>
  </div>
</div>
