<div class="header" id="myHeader">

  <div class="headerContent">
    <img class="image" src="assets/img/kokologo.png" height="80px" width="270px" style="padding-left: 20px; padding-top: 18px" alt="kuva on rikki"/>
  </div>

  <button mat-raised-button class="engButton" (click)="changeLanguageENG()"></button>
  <button mat-raised-button class="finButton" (click)="changeLanguageFIN()"></button>

  <div class="headerContent">
    <h2 class="title" id="title" style="color: #fdc100">Skinnarilan Padel Kenttä</h2>
  </div>

  <div class="headerSocial">
    <a href="https://www.facebook.com/moveolappeenranta/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/moveolpr/?hl=en" class="fa fa-instagram"></a>
  </div>

  <div>
    <h1 class="socialMediaText" id="socialMediaText" style="color:#fdc100">Seuraa meitä</h1>
  </div>

</div>
