
/*Basic style for whole header*/
.header{
  background-color: black;
  text-align: left;
  height: 110px;
  width: 101%;
  font-size: 14px;
  margin: -9px;
  position: fixed;
  top: 0;
  transition: 0.2s;
  min-width: 1200px;
}


/*Style for headers main text*/
.title {
  font-size: 50px;
  font-family: chivo-medium, serif;
  color: #fdc100;
  float: right;
  padding-right: 10%;
  width: 650px;
  display: inline;
}


/*Moveo logo*/
.headerContent{
  float: left;
}

.image{
  height : 80px;
  width : 270px;
  padding-left: 20px;
  padding-top: 18px;
}


/*Style for text before social media buttons*/
.socialMediaText {
  float: right;
  color: #fdc100;
  padding-top: 28px;
  padding-right: 20px;
  font-family: chivo,serif;
}


/*Social media buttons*/
.headerSocial{
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

.fa {
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: rosybrown;
  color: white;
}


/*Language buttons*/
.finButton{
  height: 40px;
  width: 50px;
  float: right;
  top: 40%;
  background-image: url("src/assets/img/finFlag.jpg");
  margin-right: 0.5%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.engButton{
  height: 40px;
  width: 50px;
  float: right;
  top: 40%;
  background-image: url("src/assets/img/engFlag.png");
  margin-right: 1.2%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*Different style for different @media types*/
@media only screen and (min-width: 1575px){
  .fullText{display: inline;}
  .mediumText{display: none;}
  .shortText{display: none;}
}

@media only screen and (min-width: 1200px) and (max-width: 1575px) {
  .fullText{display: none;}
  .mediumText{display: inline;}
  .shortText{display: none;}
}

@media (max-width: 1200px){
  .fullText{display: none;}
  .mediumText{display: none;}
  .shortText{display: inline;}

  .finButton{
    height: 60px;
    width: 90px;
    float: left;
    top: 32%;
  }

  .engButton{
    height: 60px;
    width: 90px;
    float: left;
    top: 32%;
    margin-left: 3%;
  }

  .headerSocial{
    float: left;
  }

  .socialMediaText {
    float: left;
    padding-left: 3%;
    font-size: 35px;
  }

  .fa {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}
