<br><br><br><br><br>
<div>
  <mat-card style="background-image: url('assets/img/padelinfo.jpg')">
  <p style="font-size: 40px; color: floralwhite">Padel on mailapeli, <br>jonka säännöt ja pelikenttä <br>ovat eräänlainen yhdistelmä <br>tennistä ja squashia</p>
  </mat-card>
</div>

<div>
  <mat-card style="background-color: mediumspringgreen">
  <p style="font-size: 50px; text-align: center"> Liity Padel WhatsApp-ryhmään ja löydä pelikavereita!</p>
    <br>
    <br>
    <p style="font-size: 40px; text-align: center">Linkki WhatsApp- ryhmään: toBEMaDe@WhatsAPP</p>
  </mat-card>
</div>
<div>
  <mat-card style="background: coral">

  </mat-card>
</div>

<div>
  <mat-card style="background-color: azure; font-size: 25px">
    <p style="font-size: 35px">Padel säännöt: (teksti vain esimerkkinä)</p>
    <p>Syöttövuorossa oleva pelaaja syöttää omalta kenttäpuoliskoltaan syöttöruudun takaa. <br>Pallo pudotetaan kenttään ja sitä lyödään pompusta siten, että pallo on lyöntihetkellä korkeintaan vyötärön korkeudella. <br>Syötetyn pallon on pudottava vinottain vastapuolella olevaan syöttöruutuun. <br>Sitä ei vielä syötöstä saa palauttaa suoraan ilmasta lyöden.

      <br>Sen jälkeen kun vastaanottaja on palauttanut pallon, kummallakin puolella kumpi tahansa pelaaja saa lyödä palloa.<br> Pallo on pelissä kunnes se samalla puolella osuu kahdesti kenttään tai osuu seinässä kielletylle alueelle. <br>

      Pisteet lasketaan ja syöttövuorot vaihtuvat kuten tenniksessä: Pelin ensimmäisestä ja toisesta voitetusta pallosta saa 15 pistettä, seuraavista 10.<br> Pelivoittoon tarvitaan 50 pistettä ja 20:n pisteen ero.</p>
  </mat-card>
</div>

<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background: deepskyblue">
      <p style="font-size: 30px">Parkki ohjeet ja miten saapua kentälle?<br></p>
      <p></p>
    </mat-grid-tile>
    <mat-grid-tile>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
      <iframe src="https://www.google.com/maps?q=61.065336,%2028.097380&output=embed"
              width="100%" height="100%"></iframe>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div>
  <mat-card class="info">
  <p style="font-size: 35px; text-align: center; color: #fdc100">Yhteystiedot:</p>
    <p style="text-align: center; font-size: 25px; color: #fdc100">
      Pekko Pirhonen <br>
      Liikuntakoordinaattori / Sports coordinator <br>
      LUT-yliopisto / LUT University <br>
      +358 40 725 8826 <br>
      pekko.pirhonen@lut.fi</p>
  </mat-card>
</div>

















