<br>
<br>
<br>
<div>
  <mat-card style="background-image: url('assets/img/padelinfo.jpg')">

  </mat-card>
</div>
<br>
<div>
  <mat-card>

  </mat-card>
</div>
<br>
<div>
  <mat-card>

  </mat-card>
</div>
<br>
<div>
  <mat-card>

  </mat-card>
</div>
<br>
<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background: deepskyblue">

    </mat-grid-tile>
    <mat-grid-tile>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
      <iframe src="https://www.google.com/maps?q=61.065336,%2028.097380&output=embed"
              width="100%" height="100%"></iframe>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<div>
  <mat-card style="background: lightslategrey">

  </mat-card>
</div>

















