<br><br><br><br><br>
<div>
  <mat-card class="intro" style="background-image: url('assets/img/padel.jpg')">
    <p class="introText"><span>Padel on mailapeli, <br>jonka säännöt ja pelikenttä <br>ovat eräänlainen yhdistelmä <br>tennistä ja squashia</span></p>
  </mat-card>
</div>
<div>
  <mat-card style="background-color: mediumspringgreen">
  <p style="font-size: 50px; text-align: center"> Liity Padel WhatsApp-ryhmään ja löydä pelikavereita!</p>
    <br>
    <br>
    <p style="font-size: 40px; text-align: center">Linkki WhatsApp- ryhmään: toBEMaDe@WhatsAPP</p>
  </mat-card>
</div>
<div>
  <mat-card style="background: coral">
    <p style="font-size: 40px; text-align: center">Timmin käyttöohjeet</p>
  </mat-card>
</div>

<div>
  <mat-card style="background-color: azure; font-size: 25px">
    <p style="font-size: 35px"><strong>Padelin säännöt:</strong></p>
    <p><strong>Ottelut</strong> pelataan aina nelinpelinä ja paras kolmesta erästä voittaa. Ensimmäinen kuusi peliä voittanut voittaa erän, kun heillä on kahden erän erotus. Pelaajapari päättää erän alussa kumpaa puolta kumpikin pelaa. Puoli säilyy erän loppuun asti, jonka jälkeen puolta voi vaihtaa.

      <br><br><strong>Pistelasku</strong> sama kuin tenniksessä (15, 30, 40 ja peli; tasatilanteessa 40-40 tarvitaan kaksi peräkkäistä pistettä pelin voittamiseksi). Pelien ollessa tasan 6-6, erävoitto ratkaistaan pelaamalla tie-break, joka pelataan 7 pisteeseen, kuitenkin kahden pisteen erolla.

      <br><br><strong>Pelin alussa pelataan aloituspallo.</strong> Syöttövuoron aloittaa aloituspallon voittanut pari. Aloituspallossa kunkin pelaajan on lyötävä pallo kerran vastustajan kenttäpuolelle, jonka jälkeen aloituspallon voittanut pari aloittaa ensimmäisen syöttövuoron tai valitsee kenttäpuolen.

      <br><br><strong>Syöttö</strong> alakautta: Pallo pompautetaan syöttöviivan takana, lyönti vyötärön alapuolelta verkon toiselle puolelle ristiin ruutuun. Syöttäjällä on käytössään kaksi syöttöä.

      Syötön tulee pompata vastustajan ruutuun. Pompun jälkeen syötössä pallo saa osua lasiseinään, mutta ei verkkoseinään. Jos syöttö osuu verkkonauhaan, mutta on muuten oikein, pelaaja saa uuden syötön. Syötössä pari sijoittuu lähelle verkkoa.

      Ensimmäinen piste syötetään oikeanpuoleisesta ruudusta, tämän jälkeen vasemmasta ja oikeasta vuorotellen. Pelin päätyttyä syöttövuoro siirtyy vastustajalle.

      Syötön jälkeen pelikenttänä on koko kenttä.

      Syöttöä ei saa lyödä takaisin suoraan ilmasta, mutta syötönpalautuksen jälkeen pallon saa lyödä suoraan ilmasta, pompun kautta, pompun jälkeen oman lasiseinän kautta, ja suoraan ilmasta oman lasiseinän kautta vastustajan kenttään. Palloa ei saa lyödä verkkoseinän kautta vastustajan puolelle. Pallorallin aikana pallo saa osua samalla kenttäpuoliskolla maahan korkeintaan kerran.

      <br><br><strong>Palloa pelataan</strong> kunnes se jää verkkoon, lyödään omalla puolella verkkoseinään, pomppaa samalla kenttäpuoliskolla maahan kaksi kertaa tai osuu vastustajan puolella ensin lasi- tai verkkoseinään.

      <br><br><strong>Tie-break.</strong> Aloitettaessa 6-6 pelitilanteessa tie-break, syötön aloittaa oikeanpuoleisesta ruudusta seuraavaksi syöttövuorossa oleva pelaaja, joka syöttää yhden pisteen. Tämän jälkeen syöttö siirtyy syöttövuorossa olevalle vastustajalle, joka syöttää kaksi pistettä, ensimmäisen vasemmanpuoleisesta ruudusta. Tie-break jatkuu 7 pisteeseen asti, kahden pisteen erolla. Syöttövuoro vaihtuu kahden pisteen välein vastustajalle ja ensimmäinen syöttö pelataan aina kakkosruudusta.

      <br><br><strong>Pallon lyöminen ulos kentältä.</strong> Jos pelaaja lyö pallon vastustajan kenttäpuoliskon kautta ulos kentältä, lyöjä voittaa yleensä pisteen. Pallon perään voi kuitenkin joissain tapauksissa juosta ulos oviaukoista lyödäkseen sen takaisin verkon yli vastustajan kenttäpuoliskolle.</p>
  </mat-card>
</div>

<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background: deepskyblue">
      <p style="font-size: 30px">Parkki ohjeet ja miten saapua kentälle?<br></p>
      <p></p>
    </mat-grid-tile>
    <mat-grid-tile>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
      <iframe src="https://www.google.com/maps?q=61.065336,%2028.097380&output=embed"
              width="100%" height="100%"></iframe>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div>
  <mat-card class="info">
    <p style="font-size: 35px; font-family: Verdana,serif; text-align: center; color: darkgrey">Yhteystiedot</p>
    <p style="text-align: center; font-family: Verdana,serif; font-size: 25px; color: darkgrey">
      Pekko Pirhonen <br>
      Liikuntakoordinaattori / Sports coordinator <br>
      LUT-yliopisto / LUT University <br>
      +358 40 725 8826 <br>
      pekko.pirhonen@lut.fi</p>
    <img src="assets/img/kokologovalkoinen.png" height="80px" width="270px"/>
  </mat-card>
</div>

















