mat-grid-tile {
  text-align: left;
  width: auto;
  height: auto;
}

mat-card {
  text-align: left;
  width: auto;
  height: auto;
}

iframe {
  min-width: fit-content;
}

.info{
  height: auto;
  width: auto;
  background-color: black;
}

<<<<<<< Updated upstream
.intro{
  height: 800px;
  width: auto;
}

.introText span{
  background-color: #f1f1f1;
  color: black;
  font-size: 40px;
=======
.bottomLogo {
  padding-left: 800px;
>>>>>>> Stashed changes
}
