mat-grid-tile {
  padding-bottom: -10px;
  text-align: left;
  width: 50%;
  height: fit-content;
  border: 5px solid black;
}
mat-card {
  text-align: left;
  width: 100%;
  height: fit-content;
  border: 5px solid black;
}
iframe {
  min-width: fit-content;
}
