mat-grid-list {
  text-align: left;
  width: 99%;
  height: 40px;
  border: 5px solid black;
}
mat-card {
  text-align: left;
  width: 98%;
  height: 500px;
  border: 5px solid black;
}
iframe {
  min-width: fit-content;
}

.info{
  height: 230px;
  width: 98%;
  background-color: lightslategrey;
}
