header{
  background-color: lightskyblue;
  color: darkgreen;
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
  font-size: 14px;
  padding: 1px;
  margin: -9px;
  border: 2px solid black;
}

body{
  background-image: url("assets/img/placeholder-background.png");
  min-width: 950px;
  min-height: 550px;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 25px;
  height: 18px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: rosybrown;
  color: white;
}

