body{
  background: black;
}

@font-face {
  font-family: "chivo-medium";
  src: local("chivo"), url(assets/fonts/chivo/Chivo-Medium.otf) format("truetype");
}

@font-face {
  font-family: "chivo";
  src: local("chivo"), url(assets/fonts/chivo/Chivo-Regular.otf) format("truetype");
}
#more {display: none;}
