body{
  background: black;
}

@font-face {
  font-family: "chivo-medium";
  src: local("chivo"), url(assets/fonts/chivo/Chivo-Medium.otf) format("truetype");
}

@font-face {
  font-family: "chivo";
  src: local("chivo"), url(assets/fonts/chivo/Chivo-Regular.otf) format("truetype");
}
@media only screen and (min-width: 1000px){
  body{
    background: #fdc100;
  }
}
#more {display: none;}
